<div class="container">
  <%= form_with model:@quote, local: true do |f| %>
    <div class="quote-input-area">
      <h3 class="text-center">~ 名(迷)言編集 ~</h3>
      <div class="text-center bg-white pt-2 pb-2">
        <%= attachment_image_tag @quote, :person_image, fallback: "no_image.png", size: "150x150", id: "preview" %><br>
        <%= f.attachment_field :person_image %>
      </div>
      <div class="mt-3">
        <% if flash[:errors] != nil %>
          <ul>
            <% flash[:errors].each do |message| %>
              <font color="red"><li><%= message %></li></font>
            <% end %>
          </ul>
        <% end %>
        <%= f.collection_select :category_id, @categories, :id, :name %><br>
        <div class="quote-input-form">
          <%= f.label :person_name, "発言者名 (20文字以内)" %><br>
          <%= f.text_field :person_name, class: "quote-form" %>
        </div>
        <div class="quote-input-form">
          <%= f.label :content, "名（迷）言 (100文字以内)" %><br>
          <%= f.text_area :content, class: "quote-form" %><br>
        </div>
        <div class="text-center">
          <%= f.submit "更新", class: "btn btn-success", style: "width: 35%;" %>
          <%= link_to "削除", quote_path(@quote.id), method: :delete, class: "btn btn-danger", style: "width: 35%;" , "data-confirm" => "本当に削除しますか？"%>
        </div>
      </div>
    </div>
  <% end %>
</div>