<div class="container">
  <div class="quote-show">
    <h1 class="mx-auto quote"><%= @quote.content %></h1>
      <% if @quote.admin_id %>
        <h5 class="text-right quote">~ <%= link_to @quote.person_profile.name, person_profile_path(@quote.person_profile.id) %> ~</h5>
      <% else %>
        <h5 class="text-right quote">~ <%= @quote.person_name %> ~</h5>
      <% end %>
    <div class="row mt-3 d-flex align-items-center mx-auto">
      <div class="col-4 ml-4">
        <% if @quote.admin_id %>
          <%= attachment_image_tag @quote.person_profile, :image, fallback: "no_image_png", size: "100x100" %>
        <% else %>
          <%= attachment_image_tag @quote, :person_image, fallback: "no_image.png", size: "100x100" %>
        <% end %>
      </div>
      <div class="col-6 text-center">
        <% if @quote.category.name == "ポジティブ" %>
          <span class="positive-icon"><%= @quote.category.name %></span>
        <% else %>
          <span class="negative-icon"><%= @quote.category.name %></span>
        <% end %>
        <span class="h4"><%= l @quote.created_at %></span><br>

        <span id="evaluation"><%= render 'evaluations/form', quote: @quote %></span>

        <% if @quote.end_user_id %>
          <% if current_end_user.id == @quote.end_user.id %>
            <%= link_to "編集", edit_quote_path(@quote.id), class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <% if @quote.end_user_id %>
      <div class="d-flex flex-row align-items-center">
        <div class="mr-1">
          <%= attachment_image_tag @quote.end_user, :image, fallback: "no_image.png", size: "50x50" %>
        </div>
        <div>
          　<%= link_to @quote.end_user.name, end_user_path(@quote.end_user_id) %><br>
          < 私が投稿しました。<br>
          <span id="relationship"><%= render 'relationships/follow', end_user: @end_user %></span>
        </div>
      </div>
    <% end %>
    <div class="comment-area mt-3">
      <h5>コメント</h5>
      <div id="comment_error"><%= render 'comments/error', comment: @comment %></div>
      <% if end_user_signed_in? %>
        <%= form_with(model:[@quote, @comment]) do |f| %>
          <%= attachment_image_tag current_end_user, :image, fallback: "no_image.png", size: "50x50" %>
          <%= f.text_field :comment, placeholder: "コメントする", class: "comment-form" %>
          <%= f.submit "送信", class: "btn btn-primary"%>
        <% end %>
      <% end %>
      <div id="comment-area"><%= render 'comments/form', comments: @comments %></div>
      <div class="d-flex align-items-center justify-content-center"><%= paginate @comments %></div>
    </div>
  </div>
</div>