<div class="container">
  <div class="row">
      <% @quotes.each do |quote| %>
      <div class="col">
        <div class="quote-index bg-light color-white fly shadow">
            <%= link_to quote_path(quote.id) do %>
              <div class="person-profile d-flex flex-row">
                <div>
                  <%= attachment_image_tag quote, :person_image, fallback: "no_image.png", size: "60x60" %>
                </div>
                <div>
                  <% if quote.category.name == "ポジティブ" %>
                    <span class="positive-icon"><%= quote.category.name %></span>
                  <% else %>
                    <span class="negative-icon"><%= quote.category.name %></span>
                  <% end %>
                  <%= l quote.created_at %><br>
                  <%= quote.person_name %>
                </div>
              </div>
              <div class="person-content">
                <%= quote.content %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>