<div class="container">
  <div class="row">
    <div class="d-flex flex-row align-items-center person-show">
      <div><%= attachment_image_tag @person, :image, fallback: "no_image.png", size: "150x150" %></div>
      <h1 class="mx-auto"><%= @person.name %></h1>
    </div>
    <div class="mypage-container mt-4">
      <ul class="mypage-bar">
        <li class="chosen">
          <i class="fas fa-journal-whills"></i> 名(迷)言
        </li>
      </ul>
      <% @quotes.each do |quote| %>
        <div class="person-profile-quote align-items-center">
          <% if quote.category.name == "ポジティブ" %>
            <span class="positive-icon"><%= quote.category.name %></span>
            <%= l quote.created_at %><br>
          <% else %>
            <span class="negative-icon"><%= quote.category.name %></span>
            <%= l quote.created_at %><br>
          <% end %>
          <div class="ml-2 mt-2">
            <%= link_to quote.content, quote_path(quote.id) %>
            </div>
        </div>
      <% end %>
      <div class="d-flex align-items-center justify-content-center"><%= paginate @quotes %></div>
    </div>
  </div>
</div>