<div class="container">
  <h1>偉人詳細</h1>
    <div class="row">
      <div class="col-la-4 text-center">
        <%= attachment_image_tag @person, :image, :fill, 150, 150, fallback: "no_image.png", size:'150x150' %>
        <span class="h3"><%= @person.name %></span>
        <%= link_to "編集", edit_admins_person_profile_path(@person.id), class: "btn btn-success" %>
        <%= link_to "削除", admins_person_profile_path(@person.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>

  <table class="table mt-4 bg-white">
    <tr>
      <th>投稿日</th>
      <th>カテゴリ</th>
      <th>名(迷)言</th>
      <th>評価</th>
    </tr>
    <% @quotes.each do |quote| %>
    <tr>
      <th><%= l quote.created_at %></th>
      <% if quote.category.name == "ポジティブ" %>
        <th><div class="positive-icon"><%= quote.category.name %></div></th>
      <% else %>
        <th><div class="negative-icon"><%= quote.category.name %></div></th>
      <% end %>
      <th><%= link_to quote.content, admins_quote_path(quote.id) %></th>
      <th>
        G<%= quote.evaluation_good.count %><br>
        B<%= quote.evaluation_bad.count %>
      </th>
    </tr>
    <% end %>
  </table>
  <div class="d-flex align-items-center justify-content-center"><%= paginate @quotes %></div>
</div>