<div class="container">
  <h1>名言情報編集</h1>
  <%= form_with model:@quote, url: admins_quote_path(@quote), local: true do |f| %>
  <% if @quote.end_user_id %>
    <%= attachment_image_tag @quote, :person_image, :fill, 150, 150, fallback: "no_image.png", size: "100x100" %>
    <%= f.attachment_field :person_image %>
  <% end %>
    <table>
      <tr>
        <th><%= f.label :category_id, "ポジティブorネガティブ" %></th>
        <th><%= f.collection_select :category_id, @categories, :id, :name %></th>
      </tr>
      <tr>
        <% if @quote.admin_id %>
          <th><%= f.label :person_profile_id, "偉人情報選択" %></th>
          <th><%= f.collection_select :person_profile_id, @persons, :id, :name %></th>
        <% else %>
          <th><%= f.label :person_name, "発言者名" %></th>
          <th><%= f.text_field :person_name %><th>
        <% end %>
      </tr>
      <tr>
        <th><%= f.label :content, "名言内容" %></th>
        <th><%= f.text_area :content %></th>
      </tr>
      <tr>
        <th></th>
        <th><%= f.submit "更新", class: "btn btn-success"  %></th>
      </tr>
    </table>
  <% end %>
</div>