<div class="container">
  <div class="row">
    <div class="col-la-4">
      <%= attachment_image_tag @end_user, :image, fallback: "no_image.png", size: "150x150" %>
    </div>
    <div class="col-la-8 ml-4">
      <div class="user_profile">
        <h3><%= @end_user.name %></h3>
        <p><%= @end_user.introduction %></p>
        <%= link_to follow_list_path(@end_user), class: "btn btn-outline-primary" do %>
          <%= @end_user.followings.count%> フォロー
        <% end %>
        <%= link_to follower_list_path(@end_user), class: "btn btn-outline-info" do %>
          <%= @end_user.followers.count %> フォロワー
        <% end %>
        <% if current_end_user == @end_user %>
          <%= link_to "プロフィール編集", edit_end_user_path(@end_user.id), class: "btn btn-light" %>
        <% else %>
          <%= render 'relationships/follow', end_user: @end_user %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @end_users.each do |end_user| %>
      <div class="col-3">
        <%= attachment_image_tag end_user, :image, fallback: "no_image.png", size: "80x80" %>
      </div>
      <div class="col-3">
        <%= end_user.name %>
        <%= render 'relationships/follow', end_user: @end_user %>
      </div>
      <div class="col-5">
        <%= end_user.introduction %>
      </div>
    <% end %>
  </div>
</div>