<div class="container">
  <div class="row">
    <div class="col-la-4">
      <%= attachment_image_tag @end_user, :image, :fill, 150, 150, fallback: "no_image.png", size: "150x150" %>
    </div>
    <div class="col-la-8 ml-4">
      <div class="user_profile">
        <h3><%= @end_user.name %></h3>
        <p><%= @end_user.introduction %></p>
        <%= link_to follow_list_path(@end_user), class: "btn btn-outline-primary" do %>
          <%= @end_user.followings.count%> フォロー
        <% end %>
        <%= link_to follower_list_path(@end_user), class: "btn btn-outline-info" do %>
          <%= @end_user.followers.count %> フォロワー
        <% end %>
        <% if current_end_user == @end_user %>
          <%= link_to "プロフィール編集", edit_end_user_path(@end_user.id), class: "btn btn-light" %>
        <% else %>
          <%= render 'relationships/follow', end_user: @end_user %>
        <% end %>
      </div>
    </div>
  </div>

  <h4 class="mt-4 mb-3">投稿した名言一覧</h4>
    <% @quotes.each do |quote|%>
    <div class="person-quote">
      <div class="mb-2 d-flex flex-row">
        <div class="mr-2">
          <%= attachment_image_tag quote, :person_image, fallback: "no_image.png", size: "50x50" %>
        </div>
        <div>
          <%= quote.person_name %><br>
          <% if quote.category.name == "ポジティブ" %>
            <span class="positive-icon"><%= quote.category.name %></span>
          <% else %>
            <span class="negative-icon"><%= quote.category.name %></span>
          <% end %>
          <%= l quote.created_at %>
        </div>
      </div>
      <div class="mt-1"><%=link_to  quote.content, quote_path(quote.id) %></div>
    </div>
  <% end %>

</div>