<div class="container">
  <div class="acount">
    <h2>アカウントを作成</h2>
    <div>ユーザーネーム(20文字以内)、推測されにくいパスワード(<%= @minimum_password_length %> 文字以上、半角英数字)を入力してください。</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "end_users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム", class: "form-field"  %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email" ,placeholder: "メールアドレス", class: "form-field" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-field" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（再確認）", class: "form-field" %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "アカウントを作成", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
    すでにアカウントを作成済みの方は
    <%= render "end_users/shared/links" %>
  </div>
</div>