<!DOCTYPE html>
<html>
  <head>
    <title>HistoricalPerson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3341ea3d23.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer>
      <% if end_user_signed_in? %>
        <%= link_to "お問い合わせ", new_contact_path %>
      <% end %>
    </footer>
  </body>
</html>
